{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}

    <div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div>
        <table>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="{% if task.done == true %} green {% else %} red {% endif %}">{{ task.description }}</td>
                    <td><button><a href="{{ path('tasks_edit', {id: task.id}) }}">Editer</a></button></td>
                    <td>
                        <form method="post" action="{{ path('tasks_delete' , {id: task.id}) }}" onsubmit="return confirm('Comfirmer la suppression')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                            <button class="btn btn-dark">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="data-todo" data-todo="{{ todolist.id }}">
        <h2>Ajouter une tâche</h2>
        <div>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button>Créer</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div>
        <a href="/">Retour</a>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function (){
        $('#task_TodoList').val($('#data-todo').data('todo'));
      })
    </script>
{% endblock %}