{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="p-5 justify-content-center">
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <div class="p-3 row justify-content-center">
        <div class="col-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nombre de tâches</th>
                        <th>Voir les tâches</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todoList in TodoLists %}
                        <tr>
                            <td>{{ todoList.name }}</td>
                            <td>{{ todoList.tasks | length}}</td>
                            <td><button class="btn btn-primary"><a href="{{ path('tasks', {id: todoList.id}) }}" style="text-decoration: none; color: white;">Voir les tâches</a></button></td>
                            <td><button class="btn btn-primary"><a href="{{ path('todo_list_edit', {id: todoList.id}) }}" style="text-decoration: none; color: white;">Editer</a></button></td>
                            <td>
                                <form method="post" action="{{ path('todo_list_delete' , {id: todoList.id}) }}" onsubmit="return confirm('Comfirmer la suppression')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todoList.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="p-3 row justify-content-center">
        <button class="col-2 btn btn-primary">
            <a href="{{ path('todo_list_new') }}" style="text-decoration: none; color: white;">Créer une TodoList</a>
        </button>
    </div>

{% endblock %}
